* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

input, button, textarea {
  font: inherit;
}

input::-ms-clear {
  display: none;
}

input {
  background-color: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, ol, menu li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, b {
  font-size: inherit;
  font-weight: inherit;
}

mark {
  background: inherit;
  color: inherit;
}

address {
  font-style: normal;
}

.page {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.page__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo--dark {
  color: #000000;
  padding: 24px 0 25px 0;
}
.logo--light {
  color: #FFFFFF;
}
.logo mark {
  color: #2196F3;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 93px;
}
.header__nav-title {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__list-item:not(:last-child) {
  margin-right: 50px;
}
.header__list-link {
  position: relative;
  display: block;
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__list-link--active {
  color: #2196F3;
}
.header__list-link--active:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}
.header__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.header__address-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__address-icon {
  fill: currentColor;
}
.header__address-link:not(:last-child) {
  margin-right: 50px;
}
.header__list-link:hover, .header__list-link:focus, .header__address-link:hover, .header__address-link:focus {
  color: #2196F3;
}
.header__btn-burger {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
}
.header__icon-burger, .header__btn-burger::before, .header__btn-burger::after {
  position: absolute;
  left: 8px;
  width: 24px;
  height: 3px;
  background-color: #212121;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__icon-burger {
  top: 50%;
  -webkit-transform: scale(1) translate(0px, -50%);
          transform: scale(1) translate(0px, -50%);
}
.header__btn-burger::before {
  top: 12px;
}
.header__btn-burger::after {
  bottom: 12px;
}
.header__btn-burger::before, .header__btn-burger::after {
  content: "";
}
.header__btn-burger--opened .header__icon-burger {
  -webkit-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}
.header__btn-burger--opened::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(1px, -50%);
          transform: rotate(-45deg) translate(1px, -50%);
}
.header__btn-burger--opened::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(1px, 50%);
          transform: rotate(45deg) translate(1px, 50%);
}

.section {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    margin-top: 94px;
  }
}
.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  text-align: center;
  line-height: 1.18;
  font-size: 28px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.hero {
  margin: 0 auto;
  min-height: 400px;
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero-bg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero {
    min-height: 600px;
  }
}
.hero__title {
  text-align: center;
  padding: 0 15px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__btn {
  margin-top: 30px;
}

.btn {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  border-radius: 4px;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #1177ca;
  color: #b3aeae;
}

.features__title {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
}
@media screen and (min-width: 768px) {
  .features__list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.features__item:hover .features__item-title:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.features__item:hover .features__item-icon {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.features__item-scene {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.features__item-icon {
  width: 70px;
  height: 70px;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.features__item-title {
  text-align: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .features__item-title {
    position: relative;
    display: inline-block;
  }
  .features__item-title:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 4px;
    background-color: #2196F3;
    -webkit-transform-origin: center left;
            transform-origin: center left;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.features__item-descr {
  margin-top: 10px;
  line-height: 1.71;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}
.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.services__item {
  position: relative;
  width: 33.3333%;
}
.services__title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team {
  background: #f5f4fa;
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.team__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__card:not(:last-child) {
    margin-bottom: 30px;
  }
}
.team__content {
  padding: 30px 32px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}
.team__name {
  font-weight: 500;
}
.team__post {
  margin-top: 10px;
  color: #757575;
}
.team__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 16px;
}
.team__icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__icon-link:hover, .team__icon-link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}
.team__icon-svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 92px;
  grid-auto-rows: 92px;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .clients__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    grid-template-columns: repeat(6, 1fr);
  }
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196F3;
  border: 1px solid #2196F3;
}
.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.portfolio__title {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
}
.portfolio__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px 8px;
}
.portfolio__btn {
  background: #f5f4fa;
  display: block;
  padding: 6px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn--active {
  color: #FFFFFF;
  background-color: #2196F3;
}
.portfolio__btn:focus, .portfolio__btn:hover {
  color: #FFFFFF;
  background-color: #2196F3;
}
.portfolio__list-projects {
  margin-top: 50px;
}
@media screen and (min-width: 768px) {
  .portfolio__list-projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.portfolio__project {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .portfolio__project {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__project {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (max-width: 1199px) {
  .portfolio__project:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__project:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__project:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__project:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}
.portfolio__project:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__project-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.portfolio__project-link:hover .portfolio__project-descr, .portfolio__project-link:focus .portfolio__project-descr {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.portfolio__project-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio__project-img {
  width: 100%;
}
.portfolio__project-text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #FFFFFF;
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}
.portfolio__project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio__project-type {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}
.portfolio__project-descr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  overflow: auto;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 50px 15px;
  overflow-y: scroll;
}
.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: #FFFFFF;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .modal {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.backdrop--hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
}
.modal__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-icon {
  width: 11px;
  height: 11px;
  fill: currentColor;
}
.modal__close:hover, .modal__close:focus {
  color: #2196F3;
}
.modal__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

body.open-modal {
  overflow: hidden;
}

.feedback-form__inputs-group {
  width: 100%;
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.feedback-form__field {
  display: block;
  position: relative;
  margin-top: 28px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.feedback-form__label {
  position: absolute;
  top: 50%;
  left: 43px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form__label--textarea {
  top: 12px;
  left: 16px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.feedback-form__input, .feedback-form__textarea {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: all 250ms var(--timing-function);
  transition: all 250ms var(--timing-function);
}
.feedback-form__input {
  height: 40px;
  padding: 13px 10px 13px 42px;
}
.feedback-form__input:focus ~ .feedback-form__icon, .feedback-form__input:hover ~ .feedback-form__icon {
  fill: #2196F3;
}
.feedback-form__input:focus, .feedback-form__input:hover {
  border-color: #2196F3;
  outline: 1px solid #2196F3;
}
.feedback-form__textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.feedback-form__textarea:not(:focus)::-webkit-input-placeholder {
  color: transparent;
}
.feedback-form__textarea:not(:focus)::-moz-placeholder {
  color: transparent;
}
.feedback-form__textarea:not(:focus):-ms-input-placeholder {
  color: transparent;
}
.feedback-form__textarea:not(:focus)::-ms-input-placeholder {
  color: transparent;
}
.feedback-form__textarea:not(:focus)::placeholder {
  color: transparent;
}
.feedback-form__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
}
.feedback-form__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
}
.feedback-form__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
}
.feedback-form__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
}
.feedback-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
}
.feedback-form__textarea:focus, .feedback-form__textarea:hover {
  border-color: #2196F3;
  outline: 1px solid #2196F3;
}
.feedback-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form__check {
  margin-top: 20px;
}
.feedback-form__btn {
  display: block;
  margin: 30px auto 0;
  width: 200px;
}
.feedback-form__input:not(:-moz-placeholder-shown) + .feedback-form__label {
  transform: translate(-43px, -38px);
}
.feedback-form__input:not(:-ms-input-placeholder) + .feedback-form__label {
  transform: translate(-43px, -38px);
}
.feedback-form__field:focus-within > .feedback-form__label, .feedback-form__input:not(:placeholder-shown) + .feedback-form__label {
  -webkit-transform: translate(-43px, -38px);
          transform: translate(-43px, -38px);
}
.feedback-form__textarea:not(:-moz-placeholder-shown) + .feedback-form__label {
  transform: translate(-16px, -30px);
}
.feedback-form__textarea:not(:-ms-input-placeholder) + .feedback-form__label {
  transform: translate(-16px, -30px);
}
.feedback-form__field:focus-within > .feedback-form__label--textarea, .feedback-form__textarea:not(:placeholder-shown) + .feedback-form__label {
  -webkit-transform: translate(-16px, -30px);
          transform: translate(-16px, -30px);
}

.check {
  display: block;
  position: relative;
  padding-left: 36px;
}
.check__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
}
.check__input:checked + .check__icon .check__icon-checked {
  opacity: 1;
}
.check__input:checked + .check__icon .check__icon-normality {
  opacity: 0;
}
.check__input:focus + .check__icon .check__icon-normality, .check__input:hover + .check__icon .check__icon-normality, .check__input:active + .check__icon .check__icon-normality {
  fill: #2196F3;
}
.check__icon {
  position: absolute;
  left: 12px;
  top: 2px;
}
.check__icon-normality {
  opacity: 1;
}
.check__icon-checked {
  opacity: 0;
}
.check__label {
  line-height: 1.71;
  color: #757575;
}
.check__link {
  position: relative;
  color: #2196F3;
}
.check__link:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #2196F3;
}

.footer {
  margin-top: 60px;
  padding: 60px 0;
  background: #2f303a;
}
@media screen and (min-width: 1200px) {
  .footer {
    margin-top: 94px;
  }
}
@media screen and (max-width: 1199px) {
  .footer__container {
    display: grid;
    gap: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer__address {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
  line-height: 1.71;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .footer__address {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.footer__address-link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}
@media screen and (max-width: 1199px) {
  .footer__contacts, .footer__column-social, .footer__column-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__column-form {
    grid-column: span 2;
  }
}
@media screen and (min-width: 1200px) {
  .footer__column-social, .footer__column-form {
    padding-top: 12px;
  }
}
.footer__column-title {
  display: block;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__icons {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.footer__icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icon-link:hover, .footer__icon-link:focus {
  background-color: #2196F3;
}
.footer__icon-svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.footer__subscription-form {
  margin-top: 20px;
}

.subscription-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .subscription-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 12px;
  }
}
.subscription-form__input {
  width: 100%;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .subscription-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription-form__input {
    width: 358px;
  }
}
.subscription-form__btn {
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.subscription-form__btn-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}