.footer {
  margin-top: 60px;
  padding: 60px 0;
  background: #2f303a;

  @media screen and (min-width: $desktop) {
    margin-top: 94px;
  }

  &__container {
    @media screen and (max-width: 1199px) {
      display: grid;
      gap: 60px;
    }

    @media screen and (min-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__address {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    line-height: 1.71;
    color: $white-color;

    @media screen and (min-width: $desktop) {
      align-items: flex-start;
    }
  }

  &__address-link {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
  }

  &__contacts,
  &__column-social,
  &__column-form {
    @media screen and (max-width: 1199px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__column-form {
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      grid-column: span 2;
    }
  }

  &__column-social,
  &__column-form {
    @media screen and (min-width: $desktop) {
      padding-top: 12px;
    }
  }

  &__column-title {
    display: block;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $white-color;
  }

  &__icons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }

  &__icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: $white-color;
    transition: background-color 250ms $timing-function;
  }

  &__icon-link:hover,
  &__icon-link:focus {
    background-color: $accent-color;
  }

  &__icon-svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }

  &__subscription-form {
    margin-top: 20px;
  }
}
