.logo {
  font-family: "Raleway", sans-serif;
  padding: 24px 0 25px 0;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  &--dark {
    color: $black-color;
  }

  &--light {
    color: $white-color;
  }

  & mark {
    color: $accent-color;
  }
}
