.section {
  margin-top: 60px;

  @media screen and (min-width: $desktop) {
    margin-top: 94px;
  }

  &__title {
    margin-bottom: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 1.18;
    font-size: 28px;


    @media screen and (min-width: $desktop) {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.17;
    }
  }
}
