.services {

  @media screen and (max-width: $tablet-max) {
    display: none;
  } 

  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    position: relative;
    width: 33.3333%;
  }

  &__title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 27px 0;
    background-color: rgb(47 48 58 / .8);
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: $white-color;
  }
}
